<%= form_tag({action: :index}, remote: true, method: 'get') do %>


  <%= submit_tag 'submit', id: "submit" %>
  <%= hidden_field_tag 'page_index', '1' %>
  <%= hidden_field_tag 'player_class', 'Druid' %>

  <%url="https://raw.githubusercontent.com/bertvernboyd/hearthstone/master/lib/assets/images/icons/"%>

  <div class="section group" id="header">
    <div class="col span_1_of_3">
      <%= text_field_tag 'search'%>
    </div>
    <div class="col span_1_of_3">
      Mechanics
    </div>
    <div class="col span_1_of_3">
      <div class "section group">
        <% rarities.each do |rarity|%>
          <div class="col span_1_of_5">
             <img src="<%=url+rarity.downcase%>.png"> 
          </div>
        <% end %>
        <div class="col span_1_of_5">
             <img src="<%=url%>all.png">
        </div>
      </div>    
    </div>
  </div>

  <div>
    <div class="col_left">
      <%= submit_tag nil, id: "page_left" %>
    </div>
    <div class="col_right">
      <%= submit_tag nil, id: "page_right" %>
    </div>
    <div class="col_center">
      <div class="section group" id="icons">
  
        <% player_classes.each do |player_class|%>

          <div class="col span_1_of_<%=player_classes.size %> icon" id="<%=player_class%>">
            <img src="<%=url+player_class%>_61x49.png">
          </div>
        <% end %>

      </div>
      <div>
        <% c = 4 %>
        <% r = 2 %>
        <% r.times do |i| %>
          <div class="section group">
            <% for j in 0...c %>
              <div class="col span_1_of_<%=c%> relative">
                <img id="card_img_<%=j+c*i%>"/>
                <div class="circle absolute">
                  <div id="score_<%=j+c*i%>" class="score"></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
