<%= form_tag({action: :index}, remote: true, method: 'get') do %>

  <%url="https://raw.githubusercontent.com/bertvernboyd/hearthstone/master/lib/assets/images/icons/"%>

  <div class="header">
    <%= text_field_tag 'search'%>
    <%= submit_tag 'submit', id: "submit" %>
    <%= text_field_tag 'page_index', '1' %>
    <%= text_field_tag 'player_class', 'Druid' %>
  </div>

  <div>
    <div class="col_left">
      <%= submit_tag 'left', id: "left" %>
    </div>
    <div class="col_right">
      <%= submit_tag 'right', id: "right" %>
    </div>
    <div class="col_center">
      <div class="section group" id="icons">
  
        <% player_classes.each do |player_class|%>

          <div class="col span_1_of_<%=player_classes.size %> icon" id="<%=player_class%>">
            <img src="<%=url+player_class%>_61x49.png">
          </div>
        <% end %>

      </div>
      <div>
        <% c = 4 %>
        <% r = 2 %>
        <% r.times do |i| %>
          <div class="section group">
            <% for j in 0...c %>
              <div class="col span_1_of_<%=c%> relative">
                <img id="card_img_<%=j+c*i%>"/>
                <div id="score_<%=j+c*i%>" class="absolute">50</div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
