<%= form_tag({action: :index}, remote: true, method: 'get') do %>

  <%url="https://raw.githubusercontent.com/bertvernboyd/hearthstone/master/lib/assets/images/icons/"%>

  <div class="header">
    <%= text_field_tag 'search'%>
    <%= submit_tag 'submit', id: "submit" %>
    <%= text_field_tag 'page_index', '1' %>
  </div>

  <div>
    <div class="col_left">
      <%= submit_tag 'left', id: "left" %>
    </div>
    <div class="col_right">
      <%= submit_tag 'right', id: "right" %>
    </div>
    <div class="col_center">
      <div class="section group" id="icons">
        <div class="col span_1_of_9">
          <img src="<%=url%>druid_61x49.png">
        </div> 
        <div class="col span_1_of_9">
          <img src="<%=url%>hunter_61x49.png">
        </div>
        <div class="col span_1_of_9">
          <img src="<%=url%>mage_61x49.png">
        </div>
        <div class="col span_1_of_9">
          <img src="<%=url%>paladin_61x49.png">
        </div>
        <div class="col span_1_of_9">
          <img src="<%=url%>priest_61x49.png">
        </div>
        <div class="col span_1_of_9">
          <img src="<%=url%>rogue_61x49.png">
        </div>
        <div class="col span_1_of_9">
          <img src="<%=url%>shaman_61x49.png">
        </div>
        <div class="col span_1_of_9">
          <img src="<%=url%>warlock_61x49.png">
        </div>
        <div class="col span_1_of_9">
          <img src="<%=url%>warrior_61x49.png">
        </div>
      </div>
      <div>
        <% c = 4 %>
        <% r = 2 %>
        <% r.times do |i| %>
          <div class="section group">
            <% for j in 0...c %>
              <div class="col span_1_of_<%=c%>">
                <img id="card_img_<%=j+c*i%>"/>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
